@charset "UTF-8";

.flow-anchor a, a.flow-anchor {
    position: relative;
    display: inline-block;
    color: var(--gray-900);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.flow-anchor a::after, a.flow-anchor::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--gray-900);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.flow-anchor a:hover::after, a.flow-anchor:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
