@charset "UTF-8";

footer {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: .75rem;
    line-height: 1rem;
    color: #1D1D1D;
    background-color: #F8F8F8;
    border-top: 1px solid #C6C6C6;
}

footer .footer_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

footer .link-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    font-weight: bold;
}

footer .link-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    font-weight: bold;
}

footer .copyright {
    color: #4D4D4D;
}

@media ( max-width: 486px) {
    footer .footer_bottom {
        flex-direction: column;
    }
}