@charset "UTF-8";

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}

.pagination * {
    transition: background-color 0.2s ease-in-out, width 0.2s ease-in-out;
    overflow: hidden;
}

.pagination .page-navi {
    display: inline-flex;
    align-items: center;
    height: 2rem;
    color: var(--gray-750);
    text-wrap: nowrap;
    border-radius: 10px;
}

.pagination .page-navi:hover {
    background-color: var(--gray-200);
}

.pagination .page-navi:active {
    background-color: var(--gray-300);
}

.pagination .page-navi.prev {
    order: 1;
    padding: 0 0.5rem;
}

.pagination .page-navi.prev::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(/static/image/ico_pagination_left.svg);
}

.pagination .page-navi.next {
    order: 3;
    padding: 0 0.5rem;
}

.pagination .page-navi.next::after {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(/static/image/ico_pagination_right.svg);
}

.pagination .page-links {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.pagination .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    color: var(--gray-750);
    text-wrap: nowrap;
    border-radius: 10px;
}

.pagination .page-link:hover {
    color: var(--gray-900);
    background-color: var(--gray-200);
}

.pagination .page-link:active {
    background-color: var(--gray-300);
}

.pagination .page-link.skip {
    background-color: transparent !important;
    user-select: none;
}

.pagination .page-link.skip:before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(/static/image/ico_pagination_skip.svg);
    background-position: center;
}

.pagination .page-link.active {
    font-weight: bold;
    color: var(--gray-150);
    background-color: var(--gray-900);
}

@media ( max-width: 768px) {
    .pagination {
        flex-wrap: wrap;
        column-gap: 2rem;
    }

    .pagination .page-links {
        flex: 1 1 100%;
        order: 4;
    }

    .pagination .page-link.only-wide {
        width: 0;
    }
}