<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team4.artgallery.dao.IQnaDao">
    <sql id="where-filter">
        <if test="filter">
            <where>
                <if test="filter.replyyn != null and filter.replyyn != ''">
                    <choose>
                        <when test="'Y'.equals(filter.replyyn)">
                            AND (reply IS NOT NULL AND reply != '')
                        </when>
                        <otherwise>
                            AND (reply IS NULL OR reply = '')
                        </otherwise>
                    </choose>
                </if>
                <if test="filter.keyword != null and filter.keyword != ''">
                    AND (title LIKE CONCAT('%', #{filter.keyword}, '%') OR content LIKE CONCAT('%', #{filter.keyword},
                    '%'))
                </if>
            </where>
        </if>
    </sql>

    <insert id="createInquiry" parameterType="QnaDto" useGeneratedKeys="true" keyProperty="qseq">
        INSERT INTO qna (title, content, email, phone, publicyn, pwd)
        VALUES (#{title}, #{content}, #{email}, #{phone}, #{publicyn}, #{pwd})
    </insert>

    <select id="getInquiry" parameterType="int" resultType="QnaDto">
        SELECT *
        FROM qna
        WHERE qseq = #{qseq}
    </select>

    <select id="getInquiries" resultType="QnaDto">
        SELECT *
        FROM qna
        <include refid="where-filter"/>
        ORDER BY qseq DESC
        LIMIT #{pagination.limit} OFFSET #{pagination.offset}
    </select>

    <select id="countInquiries" resultType="int">
        SELECT COUNT(*)
        FROM qna
        <include refid="where-filter"/>
    </select>

    <update id="updateInquiry" parameterType="QnaDto">
        UPDATE qna
        SET title    = #{title},
            content  = #{content},
            email    = #{email},
            phone    = #{phone},
            publicyn = #{publicyn},
            pwd      = #{pwd}
        WHERE qseq = #{qseq}
    </update>

    <update id="updateReply">
        UPDATE qna
        SET reply = #{reply}
        WHERE qseq = #{qseq}
    </update>

    <delete id="deleteInquiry" parameterType="int">
        DELETE
        FROM qna
        WHERE qseq = #{qseq}
    </delete>
</mapper>