@charset "UTF-8";

.artwork-write-form-header {
    width: 80%;
    margin: 0 auto;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    align-content: center;
    border-bottom: 2px solid gray;
}

.artwork-write-form-main {
    width: 80%;
    margin: 0 auto;
}

.artwork-write-form {
    width: 100%;
    display: flex;
    margin: 2rem 0;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.artwork-write-form_info {
    width: 100%;
    display: flex;
    justify-content: center;
}

.artwork-write-form_info input[type="text"], .artwork-write-form_info input[type="file"],
.artwork-write-form_info select {
    width: 15rem;
    height: 2rem;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-left: 1rem;
    align-content: center;
    outline: none;
}

.artwork-write-form_info input[type="checkbox"],
.artwork-write-form_info input[type="radio"] {
    width: 1rem;
    align-content: center;
    margin-left: 1rem;
}

.artwork-write-form_info > ul, .artwork-write-form_info > div {
    width: 50%;
}

.artwork-write-form_info li {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
}

.artwork-write-form_info > div {
    display: flex;
    justify-content: flex-end;
}

.artwork-write-form_info li > div, .artwork-write-form_info li > label, .artwork-write-form_info > div > label {
    width: 20%;
    height: 2rem;
    align-content: center;
    font-weight: bold;
}

.artwork-write-form_info label {
    width: 5rem;
    font-size: 1rem;
    align-content: center;
    margin-left: 5px;
}

.artwork-write-form-btn > input {
    cursor: pointer;
}

.artwork-write-form-btn > input:hover {
    border-bottom: solid black 2px;
}

.artwork-write-form img {
    max-width: 700px;
}

.artwork-write-form textarea {
    width: 40rem;
    height: 30rem;
    font-size: 1rem;
    background-color: #8b8b8b1c;
    color: black;
    resize: none;
    border: none;
    border-bottom: 2px solid #0000007e;
    outline: none;
    padding: 1rem;
}