@charset "UTF-8";

/* 관리자 페이지 adminMain.jsp ====================>*/
.admin-main, .admin-main nav {
    width: 100%;
    height: 100%;
}

.admin-main ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 2rem;
}

.admin-main li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 20rem;
    max-height: 3rem;
    border: 2px solid gray;
    padding: 1rem 2rem;
    box-shadow: 1px 1px 2px gray;
    font-size: 1.5rem;
}

.admin-main li:hover {
    translate: -3px -3px;
    background: gray;
    color: var(--white);
    box-shadow: 4px 4px 2px var(--gray-800);
}

.admin-main-menu a {
    display: block;
    color: inherit;
    height: 100%;
    align-content: center;
}

/* <======================================== */

/* 관리자 페이지 사이드 메뉴바 admin/sub_menu.jsp =============>*/
.content-wrap > .admin-sub-menu {
    margin: 0;
    width: 10rem;
    background: #faedcd;
    border-radius: 0 20px 20px 0;
    text-align: right;
    position: absolute;
    left: 0;
    top: 30%;
    transition: 0.5s;
}

.content-wrap > .admin-sub-menu:hover {
    width: 11rem;
}

.content-wrap > .admin-sub-menu li {
    width: 100%;
    height: 2rem;
    margin: 1rem 0;
}

.content-wrap > .admin-sub-menu a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}

.content-wrap > .admin-sub-menu a:hover {
    background: var(--gray-250);
    border-radius: 5px;
}

/* <======================================== */

/* 관리자 페이지의 리스트 스타일 =========================>*/
.admin-list {
    padding: 0 0 2rem 12rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.admin-list > form {
    padding-right: 1rem;
}

.admin-list ul {
    /* width: 80%; */
    display: flex;
    border: 1px solid gray;
}

.admin-list li {
    height: 4rem;
    font-size: 1rem;
    align-content: center;
    text-align: center;
}

.admin-list img {
    display: inline-block;
    height: 100%;
    max-width: 10rem;
}

.admin-list-main input[type=checkbox] {
    width: 100%;
}

/* adminArtworkList.jsp 테이블 스타일 ============>*/
.admin-list-main > li:nth-of-type(1), .admin-list-header > li:nth-of-type(1) {
    flex: 0.2;
}

.admin-artwork-list > li:nth-of-type(2), .admin-artwork-list > li:nth-of-type(3),
.admin-artwork-list > li:nth-of-type(4), .admin-artwork-list > li:nth-of-type(7),
.admin-artwork-list > li:nth-of-type(9), .admin-artwork-list > li:nth-of-type(10) {
    flex: 0.5;
}

.admin-artwork-list > li:nth-of-type(5), .admin-artwork-list > li:nth-of-type(6),
.admin-artwork-list > li:nth-of-type(8), .admin-artwork-list > li:nth-of-type(11) {
    flex: 1;
}

/* adminMemberList.jsp 테이블 스타일 ============>*/
.admin-member-list > li:nth-of-type(2), .admin-member-list > li:nth-of-type(3) {
    flex: 1;
}

.admin-member-list > li:nth-of-type(4), .admin-member-list > li:nth-of-type(5),
.admin-member-list > li:nth-of-type(6) {
    flex: 2;
}

/* adminQnaList.jsp 테이블 스타일 ==============> */
.admin-qna-list > li:nth-of-type(2), .admin-qna-list > li:nth-of-type(3) {
    flex: 0.5;
}

.admin-qna-list > li:nth-of-type(4) {
    flex: 2;
}

.admin-qna-list > li:nth-of-type(5) {
    flex: 3;
}

.admin-qna-list > li:nth-of-type(6) {
    flex: 1;
}

/* adminNoticeList.jsp 테이블 스타일 =============> */
.admin-notice-list > li:nth-of-type(2), .admin-notice-list > li:nth-of-type(3),
.admin-notice-list > li:nth-of-type(6), .admin-notice-list > li:nth-of-type(7),
.admin-notice-list > li:nth-of-type(8) {
    flex: 0.5;
}

.admin-notice-list > li:nth-of-type(4) {
    flex: 1.5;
}

.admin-notice-list > li:nth-of-type(5) {
    flex: 3;
}

.admin-list-btn {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.admin-list-btn input[type="button"], .admin-list-btn input[type="submit"] {
    width: 8rem;
    height: 2rem;
    padding: 0;
    margin: 0 0.5rem;
    background-color: var(--white);
    color: var(--black);
    font-weight: bold;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: 1px 1px 2px gray;
    transition: 0.3s;
    cursor: pointer;
}

.admin-list-btn .fake-submit {
    display: none;
}

.admin-list-btn input[type="button"]:hover, .admin-list-btn input[type="submit"]:hover {
    background-color: var(--black);
    color: var(--white);
}

.admin-list-main {
    cursor: pointer;
}

.admin-list-main:hover, .admin-list-main.checked {
    background-color: #faedcd;
}

.view-link:hover {
    text-decoration: underline;
}

.admin-select {
    padding: 0.5rem 0.3rem;
    text-align: center;
    border: 1px solid var(--gray-550);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

/* image-full-preview 요소 스타일 ==============> */
#image-full-preview {
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: #0008;
    cursor: pointer;
    user-select: none;
}

#image-full-preview img {
    max-width: 90%;
    max-height: 90%;
}

html:has(#image-full-preview) {
    overflow: hidden;
}
