@charset "UTF-8";

footer {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    font-weight: 400;
    font-size: 1rem;
    word-break: keep-all;
    word-wrap: break-word;
    text-align: left;
    line-height: 1.5;
    color: #1D1D1D;
    background-color: #F8F8F8;
    border-top: 1px solid #C6C6C6;
}

.footer_top {
    font-size: 1.7rem;
    font-weight: 700;
}

.footer_info {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #D8D8D8;
}

.footer_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
}

.footer_bottom_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: normal;
    gap: 1rem;
    list-style: none;
    font-weight: 700;
}

.footer_bottom_copyright {
    font-size: 1rem;
    color: #555555;
}

@media ( max-width: 768px) {
    .footer_bottom {
        flex-direction: column;
    }

    .footer_bottom_copyright {
        margin-top: 1rem;
        font-size: 0.75rem;
    }
}

.footer-clear {
    clear: both;
}