@charset "UTF-8";

.notice_box {
    width: 90%;
    margin: 20px auto;
    background-color: var(--white);
    border: 1px solid var(--gray-200);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notice_header_box {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--gray-200);
    display: flex;
    align-items: center;
    z-index: 10;
}

.notice_header_box h2, .notice_header_box h3 {
    margin: 0;
    padding: 0 20px;
    font-size: 1.2em;
    color: var(--gray-800);
}

.notice_header_box .writebutton {
    margin-left: auto;
    width: 30%;
}

.notice_header_box .writebutton input {
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: 1px solid var(--black);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.notice_header_box .writebutton input:hover {
    background-color: var(--black);
    color: var(--white);
}

.notice_title_box {
    width: 100%;
    display: table;
    border-collapse: collapse;
}

.notice_title_row {
    display: table-row;
    background-color: var(--gray-150);
    font-weight: bold;
}

.notice_title_col {
    display: table-cell;
    padding: 10px;
    border-bottom: 1px solid var(--gray-200);
    text-align: center;
}

.notice_title_col.col_number, .notice_col.col_number {
    width: 5%;
}

.notice_title_col.col_title, .notice_col.col_title {
    width: 25%;
}

.notice_title_col.col_author, .notice_col.col_author {
    width: 7%;
}

.notice_title_col.col_content, .notice_col.col_content {
    width: 30%;
}

.notice_title_col.col_date, .notice_col.col_date {
    width: 15%;
}

.notice_title_col.col_views, .notice_col.col_views {
    width: 8%;
}

.notice_title_col.col_category, .notice_col.col_category {
    width: 10%;
}

.row {
    display: table-row;
}

.col {
    display: table-cell;
    padding: 10px;
    border-bottom: 1px solid var(--gray-200);
    text-align: center;
}

/* 전체 컨테이너 스타일 */
.noticeView_container {
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--gray-250);
    border-radius: 10px;
    background-color: var(--gray-100);
}

/* 제목 스타일 */
h2 {
    color: var(--gray-800);
    font-size: 24px;
    margin-bottom: 20px;
}

/* 상세 보기 박스 스타일 */
.noticeView_box {
    padding: 20px;
    border: 1px solid var(--gray-300);
    border-radius: 10px;
    background-color: var(--white);
}

/* 필드 스타일 */
.noticeView_field {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/* 레이블 스타일 */
.noticeView_label {
    flex: 0.5;
    color: var(--gray-650);
}

/* 텍스트 스타일 */
.noticeView_text {
    flex: 2;
    color: var(--gray-800);
}

/* 이미지 스타일 */
.noticeView_image img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* 버튼 스타일 */
.noticeView-button {
    text-align: center;
}

.noticeView-button > * {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.noticeView-button > *:hover {
    background-color: var(--black);
    color: var(--white);
}

#notice_update_box {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--gray-300);
    background-color: var(--gray-100);
}

.notice_update_innerbox {
    margin-top: 20px;
}

.notice_update_field {
    margin-bottom: 15px;
}

.notice_update_field_btn {
    width: 23%;
    margin: 0 auto;
}

.notice_update_field label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

.notice_update_field input[type="text"], .notice_update_field select, .notice_update_field input[type="password"],
.notice_update_field textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--gray-300);
    border-radius: 3px;
}

.notice_update_field textarea {
    height: 30px;
}

.notice_update_field_btn input[type="submit"], .notice_update_field_btn input[type="button"] {
    padding: 8px 15px;
    background-color: var(--gray-800);
    color: var(--white);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.notice_update_field_btn input[type="submit"]:hover,
.notice_update_field_btn input[type="button"]:hover {
    background-color: var(--gray-700);
}

.notice_update_field img {
    vertical-align: middle;
}

.notice-list_btn {
    margin-right: 30px;
}

/* magazine */
.noticeMagazine_container {
    display: flex;
    width: 95%;
    height: auto;
    margin: 40px auto;
}

.noticeMagazine-button {
    float: right;
    text-align: center;
}

.btn-noticeMagazine {
    padding: 10px 20px;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.btn-noticeMagazine:hover {
    background-color: var(--black);
    color: var(--white);
}

.mu-news_left {
    width: 45%;
}

.l-img {
    width: 500px;
    height: 650px;
    background: url(../image/magazine/magazine1.jpg) no-repeat center/contain;
    box-shadow: 6px 6px var(--gray-250);
    margin-bottom: 40px;
}

.mu-news_left .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
    border: 1px solid var(--black);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.mu-news_left .pdf-down i, .mu-news_left .pdf-down i {
    width: 20px;
    height: 20px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    background: url(../image/magazine/ico_pdf_type1.png) no-repeat right;
    background-size: 20px;
}

.mu-news_left .btn-link i, .mu-news_left .btn-link i {
    width: 20px;
    height: 20px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    background: url(../image/magazine/ico_link_arrow.png) no-repeat right;
    background-size: 20px;
}

.mu-news_left .btn-link {
    margin-left: 10px;
    margin-bottom: 20px;
}

.txt-area_right {
    margin-left: 50px;
}

.mu-news_left .btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.mu-news_left .btn-link {
    border-color: var(--black);
}

.mu-news_left .btn-link:hover {
    background-color: var(--black);
    color: var(--white);
}

.mu-news_left .pdf-down {
    border-color: var(--black);
}

.mu-news_left .pdf-down:hover {
    background-color: var(--black);
    color: var(--white);
}

.chapter-info {
    display: block;
    padding: 50px 30px;
    box-sizing: border-box;
    background-color: var(--gray-100);
    height: 650px;
    overflow: auto;
    margin-bottom: 40px;
}

/* Magazine- Newspaper */
.noticeNewspaper_container {
    width: 90%;
    margin: 0 auto;
}

.noticeNewspaper_innerbox {
    margin-top: 80px;
}

.noticeNewspaper_innerbox li {
    float: left;
    width: 22%;
    margin-right: 10%;
    margin-bottom: 40px;
    min-height: 695px;
}

.noticeNewspaper_img_box {
    width: 130%;
    margin-right: 20px;
    margin-bottom: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}

.noticeNewspaper_info {
    margin-bottom: 40px;
}

.noticeNewspaper_info > p:nth-child(1) {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.noticeNewspaper_info > p:nth-child(2) {
    font-size: 0.8rem;
    margin-bottom: 20px;
}

/* newspaper- btn */
.noticeNewspaper_info .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 15px;
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
    border: 1px solid var(--black);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.noticeNewspaper_info .pdf-down i, .noticeNewspaper_info .pdf-down i {
    width: 20px;
    height: 20px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    background: url(../image/magazine/ico_pdf_type1.png) no-repeat right;
    background-size: 20px;
}

.noticeNewspaper_info .btn-link i, .noticeNewspaper_info .btn-link i {
    width: 20px;
    height: 20px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    background: url(../image/magazine/ico_link_arrow.png) no-repeat right;
    background-size: 20px;
}

.noticeNewspaper_info .btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.noticeNewspaper_info .btn-link {
    border-color: var(--black);
}

.noticeNewspaper_info .btn-link:hover {
    background-color: var(--black);
    color: var(--white);
}

.noticeNewspaper_info .pdf-down {
    border-color: var(--black);
}

.noticeNewspaper_info .pdf-down:hover {
    background-color: var(--black);
    color: var(--white);
}

.noticeNewspaper-button {
    position: relative;
    top: 561px;
    float: right;
    text-align: center;
}

.btn-noticeNewspaper {
    padding: 10px 20px;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.btn-noticeNewspaper:hover {
    background-color: var(--black);
    color: var(--white);
}

.updateNotice_bottomClear {
    width: 100%;
    height: 100px;
}